@media all and (max-device-width: 600px) {
    body {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    a {
        text-decoration: none;
        color: initial;
    }
    h1 {
        text-align: left;
        margin-left: 30px;
        font-size: 25px;
    }
    a:visited {
        color: initial;
    }
    /*#region logo*/
    .logo {
        margin: 20px 0 10px 0;
    }
    .logo img {
        width: 50%;
    }
    /*#endregion logo*/
    /*#region reservation*/
    .location {
        background-color: #EAEAEA;
        padding: 15px 0;
        box-shadow: 5px -3px 4px 0px #c4c4c4
    }
    .location label {
        font-size: 20px;
        font-weight: bold;
        color: #353535;
    }
    .location i {
        margin: 0 15px 0 -30px;
    }
    .reservation {
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        padding-bottom: 60px;
    }
    .reservation h1 {
        width: 80%;
        margin-bottom: 0px;
        text-align: center;
    }
    .reservation p {
        color: #363636;
        font-size: 20px;
        margin-bottom: 35px;
    }
    .reservation button {
        border-radius: 7em;
        padding: 20px 30px;
        font-size: 20px;
        background: linear-gradient(170deg, #FF79DA, #c18dda);
        box-shadow: 3px 4px 2px #c4c4c4;
        border-style: none;
        color: #ffffff;
    }
    /*#endregion reservation*/
    /*#region fonctionnement*/
    .fonctionnement {
        margin: 60px 0;
    }
    .fonctionnement ul,
    .menu-meals ul {
        list-style-type: none;
    }
    .fonctionnement a {
        margin: 20px 30px 20px 0;
        background-color: #F6F6F6;
        box-shadow: 5px 4px 13px 2px #e7e7e7;
        border-radius: 25px;
        border-style: none;
        font-weight: bold;
        display: flex;
    }
    .fonctionnement a:hover {
        background-color: #F5EDFF;
    }
    .fonctionnement a i:hover {
        color: #9356DC;
    }
    .number {
        margin: auto;
        border-radius: 23px;
        height: 18px;
        width: 25px;
        background-color: #9356DC;
        font-size: 13px;
        color: #ffffff;
        padding-top: 5px;
        position: relative;
        left: -10px;
    }
    .btn {
        width: 350px;
        margin: 10px 5px 10px 5px;
        padding: 20px 0;
    }
    .btn i {
        margin-right: 25px;
        font-size: 20px;
        color: #767676;
    }
    /*#endregion fonctionnement*/
    /*#region restaurants*/
    .restaurants {
        background-color: #F6F6F6;
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .card-new {
        color: rgb(78, 167, 112);
        background-color: rgb(147, 246, 185);
        position: relative;
        top: 20px;
        width: 70px;
        right: -250px;
        padding: 7px;
    }
    .card-img-zoom {
        object-position: 0 -195px !important;
    }
    .card {
        margin-bottom: 30px;
    }
    .card-body {
        display: flex;
    }
    .card-title {
        width: 90%;
        text-align: left;
        padding-left: 10px;
    }
    .card-title p {
        margin-top: -10px;
    }
    .card-heart {
        width: 10%;
        margin: auto;
    }
    .card-heart i {
        font-size: 20px;
    }
    .card-img {
        width: 100%;
        border-radius: 5% 5% 0 0;
        height: 180px;
        object-fit: cover;
        object-position: bottom;
        margin-top: -30px;
    }
    .card-img-nomarging {
        margin-top: 0;
    }
    .card-img.card-center {
        object-position: 50% 61%;
    }
    .restaurant-list-card {
        background-color: #ffffff;
        margin: 0 30px;
        border-radius: 0 0 5% 5%;
        box-shadow: 0px 4px 1px 0 #eeeeee;
    }
    .logo_hearth {
        display: none;
    }
    .logo_hearth_2 :focus {
        background: linear-gradient(#ff91e0, #9460d3);
    }
    .logo_hearth_2 {
        font-size: 30px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .logo_hearth_2 :hover {
        color: #9356dc;
        background: linear-gradient(#9356dc, #ff79da);
        text-shadow: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: earth 0.2s linear;
    }
    @keyframes earth {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /*#endregion restaurant*/
    /*#region footer*/
    .footer {
        background-color: rgb(51, 49, 51);
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .footer li {
        color: white;
        list-style-type: none;
        padding: 4px;
    }
    .footer img {
        width: 30%;
    }
    .logo-name {
        font-family: 'Shrikhand', cursive;
        font-size: 15px;
    }
    .footer a {
        color: #fff;
    }
    /*#endregion footer*/
    /*#region animation*/
    @keyframes stroke-animation {
        0% {
            stroke-dashoffset: 0;
        }
        30% {
            stroke-dashoffset: 1550;
        }
        60% {
            stroke-dashoffset: 3100;
            fill: transparent;
            transform: scale(1);
        }
        80% {
            fill: var(--pink);
            transform: scale(1.1);
        }
        90% {
            transform: scale(1);
        }
        100% {
            stroke-dashoffset: 3100;
            fill: var(--pink);
        }
    }
    @keyframes fade-animation {
        70% {
            fill: transparent;
            transform: scale(1);
        }
        80% {
            fill: #c18dda;
            transform: scale(1.1);
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: scale(2.5);
            opacity: 0;
        }
    }
    /*#endregion animation*/
    /*#region menu-details*/
    .menu {
        background-color: #f6f6f6;
        border-radius: 8%;
    }
    .header-back {
        display: flex;
    }
    .back {
        font-size: 40px;
    }
    .back-img {
        margin: auto;
    }
    h2 {
        text-align: left;
        margin-left: 3%;
    }
    .menu-meals {
        border-radius: 7px;
    }
    .menu-meal-item {
        display: flex;
        padding: 20px 11px 20px 10px;
        background: #fff;
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
    }
    .meal-item-title {
        width: 80%;
        text-align: left;
    }
    .menu-price {
        width: 10%;
    }
    .menu-meal-choice {
        display: none;
        width: 10%;
    }
    .menu-meal-item:hover .menu-meal-choice {
        display: block;
    }
    .menu-meal-item:hover .menu-price {
        display: none;
    }
    /*#endregion menu-details*/
}